<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>caddy-docker</title>

        <link rel="stylesheet" href="/static/css/foundation.min.css">
    </head>
    <body>
        {% block content %}{% endblock %}

        <script src="/static/js/vendor/jquery.min.js"></script>
        <script src="/static/js/vendor/what-input.min.js"></script>
        <script src="/static/js/vendor/foundation.min.js"></script>
    </body>
</html>
